@{
  VehicleViewModel vehicleViewModel = Model["VehicleViewModel"];
  string action = Model["Action"];
  SelectList makeSelectList = Model["makeSelectList"];
  string buttonText = "Add";
  if (Model["Action"] == "Edit")
  {
    buttonText = "Save";
  }
}

<form asp-controller="Vehicles" asp-action=@action method="post" class="form">
  @if (action == "Edit")
  {
    <input asp-for="@vehicleViewModel.VehicleId" type="hidden" />
  }
  <div class="form-group">
    <label asp-for="@vehicleViewModel.ModelYear"></label><br />
    <input asp-for="@vehicleViewModel.ModelYear" type="number" placeholder="Model Year" /><br />
    <span asp-validation-for="@vehicleViewModel.ModelYear"></span><br />
  </div>
  <div class="form-group">
    <label asp-for="@vehicleViewModel.MakeId"></label><br />
    <select asp-for="@vehicleViewModel.MakeId" type="text" asp-items=@makeSelectList >
      @if(Model["Action"] == "Create") {
        <option selected value=0>Select a Make</option>
      }
      else
      {
        <option value=0>Select a Make</option>
      }
    </select><br />
    <span asp-validation-for="@vehicleViewModel.MakeId"></span><br />
  </div>
  <div class="form-group">
    <label asp-for="@vehicleViewModel.NewMake"></label><br />
    <input asp-for="@vehicleViewModel.NewMake" type="text" placeholder="New Make" /><br />
    <span asp-validation-for="@vehicleViewModel.NewMake"></span><br />
  </div>
  <div class="form-group">
    <label asp-for="@vehicleViewModel.Model"></label><br />
    <input asp-for="@vehicleViewModel.Model" type="text" placeholder="Model" /><br />
    <span asp-validation-for="@vehicleViewModel.Model"></span><br />
  </div>
    <div class="form-group">
    <label asp-for="@vehicleViewModel.Color"></label><br />
    <input asp-for="@vehicleViewModel.Color" type="text" placeholder="Color" /><br />
    <span asp-validation-for="@vehicleViewModel.Color"></span><br />
  </div>
  <div class="form-group">
    <label asp-for="@vehicleViewModel.LicensePlate"></label><br />
    <input asp-for="@vehicleViewModel.LicensePlate" type="text" placeholder="License Plate" /><br />
    <span asp-validation-for="@vehicleViewModel.LicensePlate"></span><br />
  </div>
  <div class="form-group">
    <label asp-for="@vehicleViewModel.Condition"></label><br />
    <textarea asp-for="@vehicleViewModel.Condition" type="text" placeholder="Condition" rows="3"></textarea><br />
    <span asp-validation-for="@vehicleViewModel.Condition"></span><br />
  </div>
  <button class="button" type="submit">@buttonText</button>
</form>
