@model Vehicle

<h1>@Model.ModelYear @Model.Make @Model.Model</h1>
<h5>Added @Model.DateAdded.ToString("D")</h5>
<p>@Model.Condition</p>
<a asp-controller="Vehicles" asp-action="Edit" asp-route-id=@Model.VehicleId><button>Edit</button></a>
<form asp-controller="Vehicles" asp-action="Delete" asp-route-id=@Model.VehicleId method="post">
  <button type="submit">Delete</button>
</form>
<hr />
