@model Client

<a asp-controller="Stylists" asp-action="Index">Return to List</a>

<h4>@Html.DisplayNameFor(model => model.Name)</h4>
<h1>@Html.DisplayFor(model => model.Name)</h1>
<h5>Added @Model.DateAdded.ToString("D"). Stylist: @Model.Stylist.Name</h5>
<p>@Html.DisplayFor(model => model.Notes)</p>

<a asp-controller="Clients" asp-action="Edit" asp-route-id=@Model.ClientId><button>Edit</button></a>
<form asp-controller="Clients" asp-action="Delete" asp-route-id=@Model.ClientId method="post">
  <button type="submit">Delete</button>
</form>
<hr />
