@{
  Stylist stylist = Model["Stylist"];
  string action = "Create";
  string buttonText = "Add";
  string dateAdded = DateTime.Now.ToString("dd-MM-yyyy");
  if (Model["Usage"] == "edit")
  {
    action = "Edit";
    buttonText = "Save";
    dateAdded = stylist.DateAdded.ToString("dd-MM-yyyy");
  }
}

<form asp-controller="Stylists" asp-action=@action method="post">
  @if(action == "Edit")
  {
    <input asp-for="@stylist.StylistId" type="hidden" />
  }
  <label asp-for="@stylist.Name"></label><br />
  <input asp-for="@stylist.Name" type="text" placeholder="Name" /><br />
  <span asp-validation-for="@stylist.Name"></span><br />
  <label asp-for="@stylist.About"></label><br />
  <textarea asp-for="@stylist.About" placeholder="About"></textarea><br />
  <span asp-validation-for="@stylist.About"></span><br />
  <input asp-for="@stylist.DateAdded" type="hidden" value=@dateAdded />
  <button class="button" type="submit">@buttonText</button>
</form>
