@model Stylist

<a asp-controller="Stylists" asp-action="Index">Return to List</a>

<h4>@Html.DisplayNameFor(model => model.Name)</h4>
<h1>@Html.DisplayFor(model => model.Name)</h1>
<h5>Added @Model.DateAdded.ToString("D"). | @Model.Clients.Count Clients </h5>
<p>@Html.DisplayFor(model => model.About)</p>

@await Html.PartialAsync("_StylistButtonGroup")
<hr />
@await Html.PartialAsync("_ClientList", Model.Clients)
